**Abstract:** Assign category (i.e. label) to new point base on which ever categories (i.e. other points) is closer to its. 
![](doc/KNN.png)
0) Given there're already 2 categories.
1) Innitialize k (k's position).
2) Compute distance between k and other points.
3) Select *K-Nearest Neighbor* by sorting top k distances from closest to farthest. (e.g. A: 0.5, B: 0.7, A: 0.8) 
4) Within *K-Nearest Neighbour*, get the most frequent class (i.e. category A)
5) Assign class label of k based on the most frequent class.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

iris = pd.read_csv('dataset/Iris/Iris.csv')
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [12]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

AttributeError: 'DataFrame' object has no attribute 'data'